
// Colors
$color-form-label: rgba(255, 255, 255, 0.829);
$color-neutral:#dedede;
$color-teal-background:  rgba(87, 190, 190, 0.3);

// Text & Font
$font-normal:12px;
$stroke-width:3px;


// Image Properties



// Common Classes
.card-props{
    background-color: rgba(87, 190, 190, 0.3);
    width: 100%;
    color:white;
}